title=Jade Example
date=2014-03-10 
type=page
status=published
meta_keywords=ZUGFeRD Online Service,ZUGFeRD Online Validation, ZUGFeRD Invoice Validation, ZUGFeRD Online, Invoice Validation, ZUGFeRD PDF validation, ZUGFeRD XML validation
meta_description=Online Service for validating ZUGFeRD invoices in PDF or XML format
~~~~~~
!!! 5
html(lang="en")
  head
    title The Page Title 
    :javascript
      if (foo) {
         bar()
      }
  body
    h1 Jade - node template engine
    #container
      p You are amazing
    